.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.contact-wrapper h3 {
  margin-top: 1.5rem;
}
.contact-wrapper h4 {
  margin: 0;
}
#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#contact-form input,
#contact-form textarea {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  padding: 0.3rem;
  border: 1px solid var(--text-primary);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}
#contact-form input:focus,
#contact-form textarea:focus {
  outline: 1px solid var(--text-primary);
}
#contact-form button {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.8rem;
  padding: 0.5rem;
  border: 1px solid var(--text-primary);
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}
#contact-form button:hover {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}
