:root {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --color-orange-light: #ffd07e;
  --color-orange-dark: #df9749;
  --color-pink-light: #ff7eee;
  --color-pink-dark: #df49a6;
  --color-blue-light: #7e82ff;
  --color-blue-dark: #4953df;
  --color-green-light: #7effc3;
  --color-green-dark: #49df83;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}
main {
  padding: 1rem;
}

/* ----- SCROLLBAR ----- */

body::-webkit-scrollbar,
.navbar::-webkit-scrollbar {
  width: 0.2rem;
}
body::-webkit-scrollbar-track,
.navbar::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}
body::-webkit-scrollbar-thumb,
.navbar::-webkit-scrollbar-thumb {
  background: var(--color-orange-dark);
  border-radius: 5px;
}

/* end SCROLLBAR */

/* LANG SWITCH */

.switch {
  position: fixed;
  width: 60px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  z-index: 100;
  cursor: pointer;
}

.switch-lang {
  position: fixed;
  top: 30px;
  right: 42px;
  z-index: 1000;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--text-secondary);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--text-primary);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.language {
  position: absolute;
  color: var(--bg-secondary);
  z-index: 10;
}
.language.default-lang {
  left: 8px;
}
.language.second-lang {
  left: 33px;
}

/* end LANG SWITCH*/

/* LOADER */

.loader {
  border: 1rem solid var(--color-orange-light);
  border-radius: 50%;
  border-top: 1rem solid var(--color-orange-dark);
  width: 4rem;
  height: 4rem;
  margin-top: 1.5rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end LOADER */

/* TOOLTIP */

div.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tooltip .tooltiptext {
  visibility: hidden;
  position: relative;
  width: 80px;
  background-color: var(--bg-secondary);
  font-weight: 700;
  font-size: 0.8rem;
  padding: 5px 2px;
  border: 1px solid var(--text-primary);
  border-radius: 6px;
}
.tooltiptext {
  color: var(--text-primary);
  text-align: center;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* end TOOLTIP */

/* ----- SECTION ----- */

.section-heading {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.heading-icon {
  color: var(--color-orange-dark);
}
.education-heading .heading-icon,
.frontend-heading .heading-icon {
  margin-left: 0.5rem;
}
.work-heading .heading-icon,
.backend-heading .heading-icon {
  margin-right: 0.5rem;
}

/* end SECTION */

/* ----- MAIN HEADER ------ */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* end MAIN HEADER */

.resume-wrapper,
.skills-wrapper {
  display: flex;
  justify-content: space-between;
}
