@import 'colors.css';
@import 'themes.css';
@import 'media.css';
@import 'scrollbar.css';
@import 'tooltip.css';
@import 'language-switch.css';
@import 'about-me.css';
@import 'certificates.css';
@import 'contact.css';
@import 'github.css';
@import 'header.css';
@import 'navbar.css';
@import 'resume.css';
@import 'skills.css';
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  padding-bottom: 3rem;
}

/* ----- SECTION ----- */
section {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

section:nth-of-type(even) {
  background-color: var(--bg-secondary);
}
.section-heading {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.heading-icon {
  color: var(--color-orange-dark);
}
.subsection-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* end SECTION */
