/* 
  SMALL SCREENS 
*/

@media only screen and (max-width: 600px) {
  /* section */
  .section-heading {
    margin: 0 !important;
  }
  /* navbar */
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    overflow-y: hidden !important;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .logo {
    display: none;
  }
  .nav-link {
    justify-content: center;
    margin: 0;
  }
  span.link-text-mobile {
    display: inline-block;
    position: absolute;
    bottom: 0.6rem;
    font-size: 0.6rem;
    
  }
  /* switch */
  .tooltip.tooltip-switch {
    top: 35px;
    right: 42px;
  }
  .tooltip-text-switch {
    display: none !important;
  }
  /* about-me */
  .three-reasons-wrapper {
    padding-bottom: 1.5rem;
  }
  .interests-wrapper {
    border-top: 1px solid var(--text-primary);
    padding-top: 1.5rem;
  }
  .resume-wrapper,
  .skills-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .education-wrapper,
  .work-wrapper,
  .frontend-wrapper,
  .backend-wrapper {
    width: 90%;
    margin: 2rem auto;
  }
  .subsection-heading {
    align-self: center;
  }
  .frontend-skills-wrapper,
  .backend-skills-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  /*certificate*/
  .tooltip-text-cert {
    visibility: visible !important;
    border: 0 !important;
    margin-top: 0.5rem;
  }
  /* contact */
  .contact-wrapper {
    padding-bottom: 3rem;
  }
  #contact-form input,
  #contact-form textarea {
    width: 80vw;
  }
}

/* 
  LARGE SCREENS
*/

@media only screen and (min-width: 600px) {
  main {
    margin: 0;
    padding: 0;
  }
  .my-names,
  .my-title {
    margin-left: 7rem;
  }
  .my-names {
    margin-top: 3rem;
  }

  /* navbar */
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo svg {
    margin-left: 11rem;
  }
  .logo-text img {
    width: 45px;
    height: 45px;
    border: 1px solid var(--color-orange-dark);
    border-radius: 50%;
  }
  .navbar:hover .logo-text {
    left: 0px;
  }
  .navbar-nav {
    flex-direction: column;
  }
  /* switch */
  .tooltip-switch {
    top: 20px;
    right: 25px;
  }
  .tooltip-text-switch {
    top: 45px;
    right: 0px;
  }
  /* about-me */
  .about-me-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }
  .three-reasons-wrapper {
    width: 55%;
  }
  .interests-wrapper {
    width: 45%;
    padding-left: 1.5rem;
  }

  .education-wrapper,
  .work-wrapper,
  .frontend-wrapper,
  .backend-wrapper {
    width: 45%;
  }

  /* skills */
  .frontend-skills-wrapper {
    justify-content: flex-end;
    align-items: flex-end;
  }

  /* contact */
  #contact-form input,
  #contact-form textarea {
    width: 50vw;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    padding: 0.3rem;
    border: 1px solid var(--text-primary);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }
}
