.navbar {
  position: fixed;
  z-index: 1000;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow-y: scroll;
}
.navbar-nav {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.link-text {
  display: none;
  margin-left: 1rem;
}
.fa-primary {
  color: var(--color-orange-light);
}
.fa-secondary {
  color: var(--color-orange-dark);
}
.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}
.logo {
  font-weight: bold;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}
.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
#themeButton {
  margin-top: 0;
}
#themeButton a:hover {
  cursor: pointer;
}
