.resume-wrapper {
  display: flex;
  justify-content: space-between;
}
.timeline-item {
  padding: 4em 2em 0em 2em;
  position: relative;
  z-index: -100;
}
.timeline-item p,
.timeline-item h4 {
  padding: 0;
  margin: 0;
}
.timeline-item h4 {
  color: var(--text-secondary);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.timeline-item::after {
  content: attr(data-dates);
  position: absolute;
  display: block;
  font-size: 0.8em;
  padding: 0;
  margin-left: 0;
}
.timeline-item::before {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: block;
  position: absolute;
  content: '';
  background-color: var(--color-orange-dark);
}
.timeline-item__education {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: 1px solid;
}
.timeline-item__education::after {
  top: 3em;
  right: 2.5em;
}
.timeline-item__education::before {
  top: 2.7em;
  right: -4px;
}
.timeline-item__work::after {
  top: 3em;
  left: 2.5em;
}

.timeline-item__work {
  border-left: 1px solid;
}

.timeline-item__work::before {
  top: 2.7em;
  left: -4px;
}

.fas.fa-award {
  color: var(--color-orange-dark);
  margin-left: 0.5rem;
}
.tooltip-certified-wrapper {
  display: flex;
  justify-content: flex-end;
  width: auto;
}
.education-wrapper {
  display: flex;
  flex-direction: column;
}
.education-heading {
  align-self: flex-end;
}
.education-content {
  position: relative;
  right: 20px;
}
