.skills-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}
.skills-icon {
  text-align: center;
  font-size: 2.5rem;
  cursor: pointer;
  margin-bottom: 6px;
  width: auto;
  height: 40px;
}
.skills-icon:hover {
  color: var(--color-orange-dark);
}
.frontend-wrapper,
.backend-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.frontend-wrapper {
  align-items: flex-end;
}
.backend-wrapper {
  align-items: flex-start;
}
.frontend-skills-wrapper,
.backend-skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem;
}
